<p-toolbar [style]="{ 'border-radius': '12px'  }">
    <div class="p-toolbar-group-start">
        <h3 class="color-primary"><strong>{{ title }}</strong></h3>
    </div>
    <div class="p-toolbar-group-center">
        <form [formGroup]="form">
            <p-inputGroup>
                <input type="text" formControlName="searchText" pInputText placeholder="Search"
                    (keypress)="onInputSearch($event)" />
                <button type="button" pButton icon="pi pi-search" title="Search" (click)="serach()"
                    [disabled]="form.invalid"></button>
            </p-inputGroup>
        </form>
    </div>
    <div class="p-toolbar-group-end">
        <button pButton icon="pi pi-home" type="button" title="Home" class="mr-2" routerLink="/pages"></button>
        <button pButton icon="pi pi-plus" type="button" title="New" routerLink="new"></button>
    </div>
</p-toolbar>
