<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div class="div-1">
            <div class="w-full surface-card py-8 px-5 sm:px-8">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Forgot Password</div>
                    <span class="text-600 font-medium">Enter your email and username to reset your password</span>
                </div>

                <div>
                    <label for="username1" class="block text-900 text-xl font-medium mb-2">Username</label>
                    <input id="username1" type="text" placeholder="Username" pInputText
                        class="w-full md:w-30rem mb-5 input-username">

                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" type="text" placeholder="Email address" pInputText
                        class="w-full md:w-30rem mb-5 input-username">

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <p-button label="Back" title="Back" severity="danger" icon="pi pi-arrow-left" size="large"
                            [loading]="loading" routerLink="/p/free/login"></p-button>
                        <p-button label="Reset my password" title="Reset my password" severity="success"
                            icon="pi pi-check" size="large" [loading]="loading"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
