:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}


.div-1 {
    border-radius: 56px;
    padding: 0.3rem;
    background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
}

div.surface-card {
    border-radius: 53px
}

.input-username {
    padding: 1rem
}

.forgot-password-link {
    color: var(--primary-color)
}
