<p-toast></p-toast>
<app-auth-dynamic-content title="Forgot Password" subtitle="Enter your email and username to reset your password">
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <label for="username1"
            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Username</label>
        <input id="username1" type="text" placeholder="Username" pInputText formControlName="username" maxlength="150"
            (keypress)="onInputEnter($event)" class="w-full md:w-[30rem] " />
        <br>
        <app-form-field-error [form]="form.get('username')"></app-form-field-error>

        <div class="mb-8"></div>

        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
        <input id="email1" type="text" placeholder="Email" pInputText formControlName="email" maxlength="150"
            (keypress)="onInputEnter($event)" class="w-full md:w-[30rem] " />
        <br>
        <app-form-field-error [form]="form.get('email')"></app-form-field-error>

        <div class="mb-4"></div>

        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
            <p-button label="Back" title="Back" severity="danger" icon="pi pi-arrow-left" size="large"
                [loading]="loading" routerLink="/login"></p-button>
            <p-button label="Reset my password" title="Reset my password" icon="pi pi-check"
                size="large" [loading]="loading" type="submit"></p-button>
        </div>
    </form>
</app-auth-dynamic-content>
