<div class="grid">
    <div class="col-12">
        <p-card styleClass="cardForms">
            <app-form-head [show-list-btn]="false" title="Alterar minha senha" (save)="submitForm()" />
            <br>
            <form [formGroup]="form">
                <div class="grid formgrid">
                    <app-input-template for-name="oldPassword" name="Senha atual" [form]="form" class="col-12 md:col-6">
                        <p-password placeholder="Senha atual" title="Senha atual" type="text" id="oldPassword"
                            formControlName="oldPassword" maxlength="30" [toggleMask]="true" [style]="{'width':'100%'}"
                            inputStyleClass="cssInput" />
                    </app-input-template>
                    <app-input-template for-name="newPassword" name="Nova senha" [form]="form" class="col-12 md:col-6">
                        <p-password placeholder="Nova senha" title="Nova senha" type="text" id="newPassword"
                            formControlName="newPassword" maxlength="30" [toggleMask]="true" [style]="{'width':'100%'}"
                            inputStyleClass="cssInput" />
                    </app-input-template>
                </div>
            </form>
            <app-form-footer (save)="submitForm()" />
        </p-card>
    </div>
</div>
