<p-table [value]="page.content" responsiveLayout="stack" styleClass="p-datatable-striped" [loading]="loading"
    (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            @for (entry of entries; track $index) {
            <th [pSortableColumn]="entry[0]">{{ entry[1] }}
                <p-sortIcon [field]="entry[0]"></p-sortIcon>
            </th>
            }
            @if (showAction) {
                <th>Ações</th>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element let-columns="columns">
        <tr>
            @for (entry of entries; track $index) {
                @switch (colPipes[entry[0]]) {
                    @case ('currency') {
                        <td><span class="p-column-title">{{ entry[1] }}</span>{{ element[entry[0]] | currency: 'BRL' }}</td>
                    }
                    @case ('currency') {
                        <td><span class="p-column-title">{{ entry[1] }}</span>{{ element[entry[0]] | number: '1.1-3' }}</td>
                    }
                    @case ('date') {
                        <td><span class="p-column-title">{{ entry[1] }}</span>{{ element[entry[0]] | date: 'dd/MM/yyyy' }}</td>
                    }
                    @default {
                        <td><span class="p-column-title">{{ entry[1] }}</span>{{ element[entry[0]] || '-' }}</td>
                    }
                }

            }
            @if (showAction) {
                <td>
                    <span class="p-column-title">Ações</span>
                    @if (enableDisable) {
                        <button pButton icon="pi pi-check" type="button" title="Enable" class="p-button-success mr-2"></button>
                        <button pButton icon="pi pi-times" type="button" title="Disable" class="p-button-danger mr-2"></button>
                    }
                    @if (isDelete) {
                        <button pButton icon="pi pi-trash" type="button" title="Delete" class="p-button-danger mr-2"></button>
                    }
                    @if (isEdit) {
                        <button pButton icon="pi pi-pencil" type="button" title="Edit" class="mr-2" [routerLink]="['edit', element.key]"></button>
                    }
                </td>
            }
        </tr>
    </ng-template>
</p-table>
@if (!page.empty && !singlePage) {
    <p-paginator currentPageReportTemplate="{first} - {last} / {totalRecords}" [rows]="page.size"
        [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100, 200]" [showCurrentPageReport]="true"
        [totalRecords]="page.totalElements" [first]="page.pageable?.offset" (onPageChange)="pageChange($event)" />
}
@else {
    <br>
    Total {{ page.totalElements ?? 0 }}
}
