<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <p-card [style]="{ 'border-radius': '12px' }">
            <app-form-head [complement]="complement" [title]="pageTitle" (save)="submitForm()" />
            <br>
            <div class="grid formgrid">
                <app-input class="col-12 md:col-6" for-name="name" name="Nome" [form]="form" maxlength="150">
                </app-input>
                <app-input class="col-12 md:col-6" for-name="email" name="Email" [form]="form" maxlength="150">
                </app-input>
                <app-input class="col-12 md:col-12" for-name="address" name="Endereço" [form]="form" maxlength="250">
                </app-input>
            </div>
            <br>
            <app-form-footer [complement]="complement" (save)="submitForm()" />
        </p-card>
    </div>
</div>
