<div class="grid formgrid">
    <div class="grid formgrid">
        <app-construction-select-form class="col-12 md:col-4" [form]="form">
        </app-construction-select-form>
        <app-input class="col-12 md:col-4" for-name="name" name="Nome" [form]="form" maxlength="100">
        </app-input>
        <app-input class="col-12 md:col-4" for-name="unit" name="Unidade" [form]="form" maxlength="100">
        </app-input>
        <app-input-money class="col-12 md:col-4" for-name="value" name="Valor" [form]="form">
        </app-input-money>
        <app-input-money class="col-12 md:col-4" for-name="vpl" name="VPL" [form]="form">
        </app-input-money>
        <app-input-money class="col-12 md:col-4" for-name="valueM2" name="Valor do m²" [form]="form">
        </app-input-money>
        <app-input-number class="col-12 md:col-4" for-name="sizeM2" name="Tamanho m²" suffix=" m²" [use-grouping]="true"
            min-fraction-digits="2" max-fraction-digits="2" [form]="form">
        </app-input-number>
        <app-input-label class="col-12 md:col-4" name="Data da tabela" value="{{ today | date: 'dd/MM/yyyy' }}">
        </app-input-label>
    </div>
</div>
