<div class="grid formgrid">
    <app-input class="col-12 md:col-6" for-name="name" name="Nome" [form]="form" maxlength="150">
    </app-input>
    <app-input class="col-12 md:col-6" for-name="email" name="Email" [form]="form" maxlength="150">
    </app-input>
    <app-input class="col-12 md:col-12" for-name="address" name="Endereço" [form]="form" maxlength="250">
    </app-input>
</div>
<app-user-form-recycle [form]="form.get('user')" [show-password]="showPassword" [show-profile-select]="showProfileSelect"></app-user-form-recycle>
