<form [formGroup]="form">
    <app-input-template [for-name]="forName" [name]="name" [form]="form">
        <p-inputNumber [formControlName]="forName" mode="currency" [inputId]="forName" [currency]="currency"
            [locale]="locale" [min]="min" [max]="max" [placeholder]="name" class="cssInputComponentPrimeNg"
            [maxlength]="maxlength" [title]="name" styleClass="cssInputComponentPrimeNg" inputStyleClass="cssInputPrimeNg"
            (onBlur)="onBlur($event)">
        </p-inputNumber>
    </app-input-template>
</form>
