<p-toast></p-toast>
<app-auth-dynamic-content title="Trocar Senha" subtitle="Insira uma nova senha para prosseguir">
  <form [formGroup]="form" (ngSubmit)="resetPasswordToken()">
    <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
    <p-password
      id="password1"
      placeholder="Password"
      formControlName="password"
      maxLength="30"
      (keypress)="onInputEnter($event)"
      [toggleMask]="true"
      [fluid]="true"
      [feedback]="true"
      [style]="{ width: '100%' }"
    ></p-password>
    <app-form-field-error [form]="form.get('password')"></app-form-field-error>

    <div class="mb-8"></div>
    @if (!form.get('token')?.valid) {
      <small class="ng-dirty ng-invalid">Invalid Token</small>
    }
    <br />

    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
      <p-button label="Back" title="Back" severity="danger" icon="pi pi-arrow-left" size="large" [loading]="loading" routerLink="/login"></p-button>
      <p-button
        label="Reset my password"
        title="Reset my password"
        icon="pi pi-check"
        size="large"
        [loading]="loading"
        type="submit"
        [disabled]="!form.valid"
      ></p-button>
    </div>
  </form>
</app-auth-dynamic-content>
