<p-toolbar [style]="{ 'border-radius': '12px'  }">
    <div class="p-toolbar-group-start">
        <button pButton icon="pi pi-times" type="button" class="p-button-danger" title="Cancel"
            (click)="callConfirmPopupOut($event, '/pages', complement)"></button>
    </div>
    <div class="p-toolbar-group-center">
    </div>
    <div class="p-toolbar-group-end">
        <button pButton icon="pi pi-save" type="button" class="p-button-success" title="Save"
            (click)="callConfirmPopupSave($event)">
        </button>
    </div>
</p-toolbar>
<p-confirmPopup></p-confirmPopup>
