/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

@media (min-width: 961px) { .p-column-title { display: none; } }

:root {
    --margin-standard: 10px;
}

.c-invisible {
    display: none;
}

.color-primary {
    color: var(--primary-color);
}

.cssInput {
    width: 100%;
}

.mbs {
    margin-bottom: var(--margin-standard) !important;
}

.cssInputPrimeNg {
    padding: var(--margin-standard) !important;
}

.cardForms {
    border-radius: 12px;
}

.text {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
}
